<!-- header -->
<%- include ('../partials/header.ejs') %>
    <!-- navbar -->
    <%- include('../partials/navbar.ejs') %>

        <!-- drop your code here 👇👇👇👇-->
        <!-- tab -->


        <!-- <div class="full-img" id="fullImgBox">
            <img alt="spirit" src="image/gallery/gallery_banner.png" id="fullImg">
            <span onclick="closeFullImg()">X</span>
        </div> -->
        <div style="margin: 50px 50px 50px 50px
        ;display: flex;flex-wrap: wrap;" class="container-fluid">
        
        <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/sickle.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">What Going to the ER Is Like With Sickle Cell Disease</h5>
              <p class="card-text">For most of my life, checking myself into the emergency room with sickle cell disease while having a vaso-occlusive pain crisis has always been a nerve-racking experience. According to Sickle Cell Anemia News..</p>
              <a href="https://blogs.webmd.com/sickle-cell-disease/20230501/what-going-to-the-er-is-like-with-sickle-cell-disease" class="btn btn-primary">Read More..</a>
            </div>
          </div>

          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/dating.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dating, HIV, Abomination, & Me</h5>
              <p class="card-text">Dating has never been easy for me. I’ve always been super insecure, feeling like my body was too chubby and stubby and unattractive. Trying to meet people in bars or online, I never felt like I could compete with all the hotness..</p>
              <a href="https://blogs.webmd.com/hiv/20230501/dating-hiv-abomination-and-me" class="btn btn-primary">Read More..</a>
            </div>
          </div>

          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/hydro.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">When Opioids Were Quiet Villains</h5>
              <p class="card-text">Back in 2010, there wasn’t much information out there about opioids.There weren’t too many treatment programs or help centers, and if there were, they weren’t well-known. There was no emphasis on an opioid crisis 13 years ago – that was yet to come.. </p>
              <a href="https://blogs.webmd.com/substance-abuse/20230501/when-opioids-were-quiet-villains" class="btn btn-primary">Read More..</a>
            </div>
          </div>

          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/migrane.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Medical Trailblazers in Black History and Migraines</h5>
              <p class="card-text">Since I was a teen, I’ve had debilitating migraines. For just as long, I’ve experienced racism, gaslighting, and dismissive behavior throughout my health care journey Fortunately, my slate of excellent doctors has..</p>
              <a href="https://blogs.webmd.com/migraine/20230224/medical-trailblazers-in-black-history-and-migraines" class="btn btn-primary">Read More..</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/holiday.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Holiday Travel Fears</h5>
              <p class="card-text">I want to accept an invitation, but I’m scared.  Our family is having a reunion at the end of December. We haven’t gotten together in 7 years, and I’d like to go, but we’re meeting at my late brother’s farm in rural Oregon..</p>
              <a href="https://blogs.webmd.com/multiple-sclerosis/20221213/holiday-travel-fears" class="btn btn-primary">Read More..</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/adhd.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How Therapy for ADHD Helps -- and Doesn’t</h5>
              <p class="card-text">Doctors often recommended therapy when a child or teen is diagnosed with ADHD. Sure, it can be helpful, but what should you expect?Let’s start with the basic fact that ADHD..</p>
              <a href="https://blogs.webmd.com/childhood-adhd/20221130/how-therapy-for-adhd-helps-and-doesnt" class="btn btn-primary">Read More..</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/weight.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Weight Loss Surgery Could Cut Cancer Risk in Half Over Time</h5>
              <p class="card-text"> Weight loss surgery has long been known to provide health benefits beyond the actual pounds lost. Diabetes can go into remission, sleep apnea can improve..</p>
              <a href="https://www.webmd.com/obesity/news/20230501/weight-loss-surgery-could-cut-cancer-risk-in-half-over-time" class="btn btn-primary">Read More..</a>
            </div>
          </div>
          <div class="card m-3" style="width: 18rem;">
            <img src="image/gallery/melanoma.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Melanoma and Pregnancy: What to Know</h5>
              <p class="card-text">S Research shows that 1 in 1,000 women will be diagnosed with cancer during pregnancy, and melanoma is the most common cancer these patients will be ..</p>
              <a href="https://www.webmd.com/melanoma-skin-cancer/news/20230501/melanoma-and-pregnancy-what-to-know" class="btn btn-primary">Read More..</a>
            </div>
          </div>
        
        </div>
       
        
        <!-- tab -->
        <!-- <div class="decsription">
        <h3 class="image-head">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, inventore.</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsum recusandae accusamus,
            officiis praesentium unde!</p>
    </div> -->
        <style>

        </style>


        <script>
            var fullImgBox = document.getElementById("fullImgBox");
            var fullImg = document.getElementById("fullImg");

            function openFullImg(pic) {
                fullImgBox.style.display = "flex";
                fullImg.src = pic;
            }

            function closeFullImg() {
                fullImgBox.style.display = "none";
            }
        </script>


        <!-- footer -->
        <%- include('../partials/footer.ejs') %>